.collectiondetail-header {
  display: flex;
}

.collectiondetailheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewcollectiondetails {
  margin-right: 10px;
  color: #777;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.viewdetails {
  border: 1px solid #888;
  border-radius: 5px;
  height: 27px;
  justify-content: center;
  width: 30%;
  float: right;
  margin-left: 0px;
  display: flex;
  align-items: center;
}

.collectiondetailreport {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#departmentname {
  border-radius: 5px;
  /* margin-left: 5px; */
  border-color: #ddd;
  width: 80%;
  float: right;
  height: 35px;
}

.service-button {
  border-radius: 5px 0 0 5px; /* Rounded corners on the left */
  border-right: none;
}

.pharmacy-button {
  border-radius: 0 5px 5px 0; /* Rounded corners on the right */
  border-left: none;
}

.service-button,
.pharmacy-button {
  background-color: white;
  color: rgb(5, 143, 143);
  border-color: rgb(5, 143, 143);
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}

.service-button:hover,
.pharmacy-button:hover {
  background-color: rgb(5, 143, 143);
  color: white;
}
.active {
  background-color: rgb(5, 143, 143) !important;
  color: white !important;
}

.chart-box {
  width: 95%;
  height: 550px;
  background-color: none;
  /* border: 1px solid black; */
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 35px;
}
.chart-size {
  width: 95%;
  height: 90%;
}

/* For Tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px; /* Increased width for better display */
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px;
  text-align: left; /* Adjusted text alignment */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box-shadow for better visibility */
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 40px;
  font-family: Arial;
  text-align: center;
}
