.fractionsummary-header {
  display: flex;
}

.fractionsummaryheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewfractionsummarydetails {
  margin-right: 5px;
  color: #777;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.viewdetails {
  border: 1px solid #888;
  border-radius: 5px;
  height: 27px;
  justify-content: center;
  width: 40%;
  float: right;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fractionsummary {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* For Table */

.table-container {
  max-height: 300px;
  overflow-y: auto;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 95%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table header */
.table-container thead {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Style the table header cells */
th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style the table body cells */
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Hover effect on table rows */
tbody tr:hover {
  background-color: #ddd;
}

/* Style the virtual scroll items */
.example-item {
  transition: background-color 0.3s ease;
}

.example-item:hover {
  background-color: #ddd;
}

.flex-end {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.fractiontype label {
  color: #666;
}

.fractiontype {
  margin-left: 3px;
  /* font-weight: bold; */
}

#fractiontype {
  border-radius: 5px;
  /* margin-left: 5px; */
  border-color: #ddd;
  width: 95%;
}
.fractiontypeLabel {
  font-size: 20px;
  color: #666; /* Text color */
  font-weight: bold;
}

.fromtodate {
  border-radius: 5px;
  /* margin-left: 5px; */
  border-color: #ddd;
  width: 95%;
}

/* For Tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px; /* Increased width for better display */
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px;
  text-align: left; /* Adjusted text alignment */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box-shadow for better visibility */
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 40px;
  font-family: Arial;
  text-align: center;
}

.info {
  color: #666;
}

.arrowicon {
  color: #666;
}

@media only screen and (max-width: 1468px) and (min-width: 768px) {
  .fractionsummaryheading {
    margin-right: 5px;
    font-size: 12px;
    color: #666; /* Text color */
    font-weight: bold;
    margin-top: 3px;
  }
  .info {
    font-size: 12px;
  }
  .arrowicon {
    font-size: 14px;
  }

  .viewdetails {
    /* width: 65%; */
    width: 80px;

    height: 20px;
  }

  .viewfractionsummarydetails {
    margin-right: 2px;
    color: #777;
    margin-left: 2px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 6px;
  }
  .fractionsummary-header {
    width: 110%;
    display: flex;
  }

  .fractiontype label {
    font-size: 13px;
  }

  .fractiontype {
    margin-top: 15px;
  }

  #fractiontype {
    width: 120px;
    font-size: 14px;
    font-size: 12px;
  }

  .fromtodate {
    width: 90%;
    height: 20px;
    font-size: 12px;
  }

  th {
    font-size: 12px;
  }

  td {
    font-size: 12px;
  }

  .table-container {
    max-height: 200px;
    width: 90%;
  }

  .topcontainer {
    padding-right: 0px;
  }

  #top {
    float: right;
  }
}
