.container {
  margin-left: 0px;
  background-color: #e6f6f6;
  overflow: auto;
  overflow-y: scroll;
  margin-right: 0px;
  width: 100%;
}

.top {
  height: 60px;
  margin-top: 15px;
}

#fiscalYear {
  border-radius: 5px;
  margin-left: 5px;
  border-color: #ddd;
}
.fiscalYearLabel {
  font-size: 20px;
  color: #666;
  font-weight: bold;
}

/* Daily, Weekly, Monthly, Yearly Buttons Style */
.daily-button,
.middle-button,
.yearly-button {
  background-color: white;
  color: rgb(5, 143, 143);
  border-color: rgb(5, 143, 143);
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}

.daily-button:hover,
.middle-button:hover,
.yearly-button:hover {
  background-color: rgb(5, 143, 143);
  color: white;
}

.daily-button {
  border-radius: 5px 0 0 5px; /* Rounded corners on the left */
  border-right: none;
}

.middle-button {
  border-radius: 0; /* No rounded corners */
  border-right: none;
}

.yearly-button {
  border-radius: 0 5px 5px 0; /* Rounded corners on the right */
}

.active {
  background-color: rgb(5, 143, 143) !important;
  color: white !important;
}

.date {
  font-size: 15px;
  color: #666; /* Text color */
  font-weight: bold;
  margin-right: 5px;
}

.fromtodate {
  border-radius: 5px;
  border-color: #ddd;
  color: #666;
  width: 115px;
}

.sub-container1 {
  /* margin-top: 20px; */
  width: 100%;
  height: 350px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 6px; /* to make border rounded */
}

.sub-container2 {
  /* margin-top: 20px; */
  width: 100%;
  height: 180px;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 6px; /* to make border rounded */
  margin-bottom: 30px;
}

.MainContainer {
  margin-top: 20px;
}
.sub-container3 {
  width: 100%;
  height: 170px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 6px; /* to make border rounded */
}

.sub-container4 {
  margin-top: 20px;
  width: 100%;
  height: 600px;
  background-color: white;
  /* border: 1px solid black; */
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 6px; /* to make border rounded */
}

.sub-container5 {
  margin-top: 20px;

  width: 100%;
  height: 650px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 6px; /* to make border rounded */
}

.chart-header {
  display: flex;
}

.chartheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewdetails {
  border: 1px solid #888;
  border-radius: 5px;
  height: 27px;
  justify-content: center;
  width: 120px;
  margin-left: 70px;
}

.viewlabdetails {
  margin-right: 15px;
  color: #777;
  margin-left: 15px;
  font-size: 12px;
  font-weight: bold;
}

.viewvisitdetails {
  /* border: 1px solid #888; */
  border-radius: 5px;
  height: 28px;
  float: right;
  width: 75%;
}

.viewvisitreports {
  /* margin-right: 5px; */
  color: #777;
  margin-left: 3px;
  font-size: 12px;
  font-weight: bold;
}

.buttons {
  background-color: rgb(5, 143, 143);
  margin-bottom: 25px;
  border-radius: 5px;
  margin-left: 5px;
  border-color: rgb(5, 143, 143);
  height: 50px;
  width: 50px;
  color: white;
}

.vertical-buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.numbercount {
  font-size: 17px;
  color: #666; /* Text color */
  font-weight: bold;
}

.inline {
  display: flex;
  margin-left: 5px;
  font-size: 17px;
}

.inlineinpatient {
  display: flex;
  margin-left: 30px;
  font-size: 17px;
  justify-content: flex-end;
  width: 100%;
}

.inlineinpatientleft {
  display: flex;
  font-size: 17px;
  justify-content: flex-start;
  width: 100%;
}

.viewinpatientdetails {
  display: flex;
  width: 77px;
  border: 1px solid #888;
  border-radius: 5px;
  height: 25px;
  justify-content: center;
  padding-top: 3px;
  float: left;
}

.inlinecovid19 {
  display: flex;
  margin-left: 20px;
  font-size: 17px;
  justify-content: flex-end;
  width: 100%;
}

.inlinesampledreport {
  display: flex;
  margin-left: 10px;
  font-size: 17px;
  justify-content: flex-end;
  width: 100%;
}

.inlinepharmacycount {
  display: flex;
  margin-left: 10px;
  font-size: 17px;
  justify-content: flex-end;
  width: 100%;
}

p {
  color: #666;
}

.inline .p {
  margin: 0;
}

.text-end {
  text-align: right;
}

.currentimpatientdetailsheading {
  margin-right: 3px;
  font-size: 14px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewcurrentimpatientdetails {
  margin-right: 3px;
  color: #777;
  /* margin-left: 3px; */

  font-size: 10px;
  font-weight: bold;
}

.numbercountimpatient {
  font-size: 15px;
  color: #666; /* Text color */
  font-weight: bold;
}

.currentinpatientDetails .p {
  margin: 0;
}

.numbercountdeath {
  font-size: 40px;
  color: #666; /* Text color */
  font-weight: bold;
}

.totaldeath {
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  color: #666;
  font-size: 32px;
}

.verticalcolorfulline {
  height: 62px;
  width: 1px;
  margin: 0;
  /* border-radius: 3px; */
  /* display: block; */
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* padding: 0; */
}

.middleverticalbutton {
  border-radius: 0 0 0 0px;
}

.topverticalbutton {
  border-radius: 5px 5px 0 0px;
}

.buttomverticalbutton {
  border-radius: 0 0 5px 5px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #666;
  /* text-align: center; */
  padding: 10px 0;
  margin-top: 25px;
}

.footerlicensed {
  margin-left: 40px;
  font-weight: bold;
}

.copyright {
  display: flex;
  font-weight: bold;
  float: right;
  margin-right: 50px;
}

.chart-box {
  width: 95%;
  height: 450px;
  background-color: none;
  padding: 20px;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 35px;
}
.chart-size {
  width: 95%;
  height: 90%;
}

/* For Tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px; /* Increased width for better display */
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px;
  text-align: left; /* Adjusted text alignment */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box-shadow for better visibility */
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 40px;
  font-family: Arial;
  text-align: center;
}

/* For Buttons */
#NPButton:hover + .tooltip-text {
  visibility: visible;
}

#OPButton:hover + .tooltip-text {
  visibility: visible;
}

#FPButton:hover + .tooltip-text {
  visibility: visible;
}
#EButton:hover + .tooltip-text {
  visibility: visible;
}

#WButton:hover + .tooltip-text {
  visibility: visible;
}
