<!-- <div class="container"> -->
<!-- top -->
<div class="top">
  <div class="row g-0">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="row g-0">
        <div class="col-lg-12 col-md-12 col-sm-12 topcolumn">
          <label for="fiscalYear" class="fiscalYearLabel">Fiscal Year:</label>
          <select id="fiscalYear" name="fiscalYear">
            <option value="2022-2023">80-81</option>
            <option value="2023-2024">81-82</option>
            <option value="2024-2025">82-83</option>
          </select>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12"></div> -->
      </div>
    </div>

    <!-- Daily-Weekly-Monthly-Yearly -->
    <div class="col-lg-4 col-md-4 col-sm-4 topcolumn">
      <div class="row g-0">
        <div class="col-lg-1 col-md-1 col-sm-1 topcolumn"></div>
        <div class="col-lg-11 col-md-11 col-sm-11 topcolumn">
          <button
            type="button"
            class="btn btn-sm daily-button"
            [ngClass]="{ active: activeButton === 'daily' }"
            (click)="setActiveButton('daily')"
          >
            Daily
          </button>
          <button
            type="button"
            class="btn btn-sm middle-button"
            [ngClass]="{ active: activeButton === 'weekly' }"
            (click)="setActiveButton('weekly')"
          >
            Weekly
          </button>
          <button
            type="button"
            class="btn btn-sm middle-button"
            [ngClass]="{ active: activeButton === 'monthly' }"
            (click)="setActiveButton('monthly')"
          >
            Monthly
          </button>
          <button
            type="button"
            class="btn btn-sm yearly-button"
            [ngClass]="{ active: activeButton === 'yearly' }"
            (click)="setActiveButton('yearly')"
          >
            Yearly
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5 topcolumn">
      <div class="row g-0">
        <div class="col-lg-6 col-md-6 col-sm-6 topcolumn fromcolumn">
          <label for="startDate" class="date">From</label>
          <input
            type="date"
            id="startDate"
            class="fromtodate"
            name="startDate"
            pattern="\d{4}-\d{2}-\d{2}"
            placeholder="MM/DD/YYYY"
          />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 topcolumn">
          <label for="endDate" class="date">To</label>
          <input
            type="date"
            id="endDate"
            class="fromtodate"
            name="endDate"
            pattern="\d{4}-\d{2}-\d{2}"
            placeholder="MM/DD/YYYY"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sub Container 2-->
<div class="row g-0 sub2">
  <!-- Sampled Reports -->
  <div class="col-lg-3 col-md-3 col-sm-12 topcontainer">
    <div class="sub-container2">
      <div class="row g-0" style="width: 100%; height: 27px">
        <div
          class="col-lg-12 col-md-12 col-sm-12 chart-header topcardsheadercolumn"
        >
          <p class="chartheading" style="font-size: 14px">Sampled Report</p>
          <!-- <span class="iconspan"
            ><i class="fa-solid fa-circle-info" id="info"></i
          ></span> -->
          <span class="iconspan">
            <div class="hover-text" style="margin-top: 0px; margin-left: 0px">
              <i class="fa-solid fa-circle-info info" data-toggle="tooltip"></i>
              <span class="tooltip-text" id="top" style="width: 110px">
                <div>This is a tooltip!</div>
              </span>
            </div>
          </span>
        </div>
      </div>
      <div class="row g-0" style="width: 100%; height: 120px">
        <div
          class="col-lg-6 col-md-6 col-sm-12 vertical-buttons topcontainer"
          style="margin-top: 10px"
        >
          <!-- <button
            type="button"
            class="buttons"
            id="coronaButton"
            style="margin-bottom: 0px"
          > -->
          <span class="sampledspan"
            ><i class="fa-solid fa-vial button-icon"></i
          ></span>
          <!-- </button> -->
          <div class="inlinetop">
            <p class="numbercounttop">223</p>
            <p class="total" style="margin-left: 3px">Total</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 topcontainer">
          <div class="inlinesampledreport text-end">
            <p class="numbercounttop">28</p>
            <p style="margin-left: 3px">IP</p>
          </div>

          <div class="inlinesampledreport text-end">
            <p class="numbercounttop">131</p>
            <p style="margin-left: 3px">OP</p>
          </div>

          <div class="inlinesampledreport text-end">
            <p class="numbercounttop">1</p>
            <p style="margin-left: 3px">ER</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pharmacy Patient Count -->
  <div class="col-lg-3 col-md-3 col-sm-12 topcontainer">
    <div class="sub-container2">
      <div class="row g-0" style="width: 100%; height: 27px">
        <div
          class="col-lg-12 col-md-12 col-sm-12 chart-header pharmacypatientcounthead"
        >
          <p class="chartheading" style="font-size: 14px">
            Pharmacy Patient Count
          </p>
          <!-- <span><i class="fa-solid fa-circle-info" id="info"></i></span> -->
          <span class="iconspan">
            <div class="hover-text" style="margin-top: 0px; margin-left: 0px">
              <i class="fa-solid fa-circle-info info" data-toggle="tooltip"></i>
              <span class="tooltip-text" id="top" style="width: 110px">
                <div>This is a tooltip!</div>
              </span>
            </div>
          </span>
        </div>
        <!-- <div class="col-lg-1 col-md-1 col-sm-12"></div> -->
      </div>
      <div class="row g-0" style="width: 100%; height: 120px">
        <div
          class="col-lg-6 col-md-6 col-sm-12 topcontainer"
          style="margin-top: 10px"
        >
          <!-- <button
            type="button"
            class="buttons"
            id="pharmacypatientcountButton"
            style="margin-bottom: 0px"
          > -->
          <span class="pharmacyspan"
            ><i class="fa-solid fa-prescription-bottle-medical button-icon"></i
          ></span>
          <!-- </button> -->
          <div class="inlinetop">
            <p class="numbercounttop">14181</p>
            <p class="total" style="margin-left: 3px">Total</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 5px">
          <div class="row g-0 text-end">
            <div class="inlinepharmacycount">
              <p class="numbercounttop p">1577</p>
              <p class="p" style="margin-left: 3px">IP</p>
            </div>
            <div class="inlinepharmacycount">
              <p class="numbercounttop p">12604</p>
              <p class="p" style="margin-left: 3px">OP</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Current Inpatient Details -->
  <div class="col-lg-4 col-md-4 col-sm-12 topcontainer">
    <div class="sub-container2">
      <div class="row g-0" style="width: 100%; height: 27px">
        <div class="col-lg-8 col-md-7 col-sm-12 chart-header topcontainer">
          <p class="currentimpatientdetailsheading">
            Current Inpatient Details
          </p>
          <!-- <span><i class="fa-solid fa-circle-info" id="info"></i></span> -->
          <span class="iconspan">
            <div class="hover-text" style="margin-top: 0px; margin-left: 0px">
              <i class="fa-solid fa-circle-info info" data-toggle="tooltip"></i>
              <span class="tooltip-text" id="top" style="width: 110px">
                <div>This is a tooltip!</div>
              </span>
            </div>
          </span>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 topcontainer">
          <div class="viewinpatientdetails">
            <label
              for="currentinpatientdetails"
              class="viewcurrentimpatientdetails"
              >View Details</label
            >
            <i class="fas fa-angle-right arrowicon"></i>
          </div>
        </div>
      </div>
      <div class="row g-0" style="width: 100%; height: 120px">
        <div
          class="col-lg-8 col-md-8 col-sm-12 ipdetail"
          style="margin-top: 15px"
        >
          <div class="inlineinpatientleft">
            <span><i class="fa-solid fa-bed info"></i></span>
            <p style="margin-left: 3px" class="numbercountinpatient">118</p>
            <p style="margin-left: 3px">Total Beds</p>
          </div>
          <div class="inlineinpatientleft">
            <p style="margin-left: 3px" class="numbercountinpatient">2</p>
            <p style="margin-left: 3px">Not in Service</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 15px">
          <div class="inlineinpatient">
            <p class="numbercountinpatient">32</p>
            <p style="margin-left: 3px">Current</p>
          </div>
          <div class="inlineinpatient" style="margin-top: 0px">
            <p class="numbercountinpatient">1460</p>
            <p style="margin-left: 3px">Discharge</p>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Total Death Count -->
  <div
    class="col-lg-2 col-md-2 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <div class="sub-container2">
      <div class="row g-0" style="width: 140%; height: 15px">
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 totaldeathheader"> -->
        <div class="totaldeathheader">
          <p class="totaldeath">Total Deaths</p>
          <!-- <span style="margin-top: 9px"
            ><i class="fa-solid fa-circle-info fa-2x infototaldeath"></i
          ></span> -->
          <span class="deathinfospan">
            <div class="hover-text" style="margin-top: 10px; margin-left: 0px">
              <i
                class="fa-solid fa-circle-info fa-2x infototaldeath"
                data-toggle="tooltip"
              ></i>
              <span
                class="tooltip-text"
                id="top"
                style="width: 110px; right: 40%; bottom: 100%"
              >
                <div>This is a tooltip!</div>
              </span>
            </div>
          </span>
        </div>
        <!-- </div> -->
      </div>
      <div class="row g-0">
        <div class="col-lg-12 col-md-12 col-sm-12 topcontainer">
          <p class="numbercountdeath">0</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sub Container 1 -->
<div class="row g-0" style="height: 350px">
  <div class="col-lg-3 col-md-3 col-sm-12 topcontainer">
    <div class="sub-container1">
      <div class="row g-0">
        <div class="col-lg-5 col-md-4 col-sm-12 text topcontainer">
          <div class="totalpatient">
            <p class="chartheading mb-0">Total</p>
            <span><i class="fa-solid fa-circle-info info"></i></span>
          </div>
          <div>
            <p class="numbercounttotal">35399</p>
          </div>
        </div>

        <div class="col-lg-7 col-md-8 col-sm-12 line" style="margin-top: 27px">
          <div class="row g-0">
            <!-- Vertical Colorful Line -->
            <div
              class="col-lg-1 col-md-1 col-sm-12 colorfulbutton-container topcontainer"
              style="margin-top: 3px"
            >
              <button
                type="button"
                class="verticalcolorfulline topverticalbutton"
                style="background-color: #6495ed; border-color: #6495ed"
              ></button>
              <button
                type="button"
                class="verticalcolorfulline middleverticalbutton"
                style="background-color: #7a9e80; border-color: #7a9e80"
              ></button>
              <button
                type="button"
                class="verticalcolorfulline middleverticalbutton"
                style="background-color: #b23a3a; border-color: #b23a3a"
              ></button>
              <button
                type="button"
                class="verticalcolorfulline buttomverticalbutton"
                style="background-color: #917ba3; border-color: #917ba3"
              ></button>
            </div>

            <div
              class="col-lg-11 col-md-10 col-sm-12 columnpatients topcontainer"
            >
              <div class>
                <p class="pcolorful mb-0" style="color: #6495ed">In Patients</p>
                <p class="numbercountcolorfulline">214</p>
              </div>
              <div>
                <p class="pcolorful mb-0" style="color: #7a9e80">
                  Out Patients
                </p>
                <p class="numbercountcolorfulline">214</p>
              </div>
              <div>
                <p class="pcolorful mb-0" style="color: #b23a3a">Emergency</p>
                <p class="numbercountcolorfulline">214</p>
              </div>
              <div>
                <p style="color: #917ba3" class="pcolorful mb-0">PCR</p>
                <p class="numbercountcolorfulline">214</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- View Visit Reports -->
  <div class="col-lg-3 col-md-3 col-sm-12 topcontainer">
    <div class="sub-container1">
      <div class="row g-0" style="width: 100%; height: 50px">
        <div class="col-lg-2 col-md-4 col-sm-12 chart-header">
          <span>
            <div class="hover-text" style="margin-top: 0px; margin-left: 0px">
              <i class="fa-solid fa-circle-info info" data-toggle="tooltip"></i>
              <span class="tooltip-text" id="top">
                <div>I'm a tooltip1!</div>
                <div>I'm a tooltip2!</div>
                <div>I'm a tooltip3!</div>
                <div>I'm a tooltip4!</div>
                <div>I'm a tooltip5!</div>
              </span>
            </div>
          </span>
        </div>
        <!-- 
        <div
          class="col-lg-10 col-md-8 col-sm-12 visitreport topcontainer viewvisitreoprtcontainer"
        >
          <div class="visitdetails">
            <label for="viewvisitreports" class="viewvisitreports"
              >View Visit Reports</label
            >
            <i class="fas fa-angle-right arrowicon"></i>
          </div>
        </div> -->

        <button
          class="button-container col-lg-10 col-md-8 col-sm-12 topcontainer viewvisitreoprtcontainer"
        >
          <div class="visitdetails">
            <label for="viewvisitreports" class="viewvisitreports"
              >View Visit Reports</label
            >
            <i class="fas fa-angle-right arrowiconviewvisitreport"></i>
          </div>
        </button>
      </div>

      <div class="row g-0" style="width: 100%; height: 250px">
        <div class="col-lg-6 col-md-6 col-sm-12 vertical-buttons">
          <label
            type="button"
            class="buttons"
            id="NPButton"
            data-toggle="tooltip"
          >
            NP
          </label>
          <span class="tooltip-text" for="NPButton" l style="left: 40%">
            Click on the 'NP' button to perform an action.
          </span>
          <label
            type="button"
            class="buttons"
            id="OPButton"
            data-toggle="tooltip"
          >
            OP
          </label>
          <span
            class="tooltip-text"
            for="OPButton"
            l
            style="left: 40%; top: 35%"
          >
            Click on the 'OP' button to perform an action.
          </span>
          <label
            type="button"
            class="buttons"
            id="FPButton"
            data-toggle="tooltip"
          >
            FP
          </label>
          <span
            class="tooltip-text"
            for="FPButton"
            l
            style="left: 40%; top: 65%"
          >
            Click on the 'FP' button to perform an action.
          </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 containerrightpadding">
          <div class="row g-0 text-end">
            <p class="mb-0">New Patients</p>
            <p class="numbercountvisitreport">21017</p>
          </div>
          <div class="row g-0 text-end">
            <p class="mb-0">Old Patients</p>
            <p class="numbercountvisitreport">14382</p>
          </div>
          <div class="row g-0 text-end">
            <p class="mb-0">Followup</p>
            <p class="numbercountvisitreport">214</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col-lg-3 col-md-3 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <div class="sub-container1">
      <div class="row g-0" style="width: 100%; height: 50px">
        <div class="col-lg-6 col-md-6 col-sm-12 chart-header">
          <!-- <span><i class="fa-solid fa-circle-info"></i></span> -->
          <span>
            <div class="hover-text" style="margin-top: 0px; margin-left: 0px">
              <i class="fa-solid fa-circle-info info" data-toggle="tooltip"></i>
              <span class="tooltip-text" id="top" style="width: 95px">
                <div>I'm a tooltip1!</div>
              </span>
            </div>
          </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12"></div>
      </div>

      <div class="row g-0" style="width: 100%; height: 250px">
        <div class="col-lg-6 col-md-6 col-sm-12 vertical-buttons">
          <label
            type="button"
            class="buttons"
            id="EButton"
            data-toggle="tooltip"
          >
            E
          </label>
          <span class="tooltip-text" for="EButton" l style="left: 40%">
            Click on the 'E' button to perform an action.
          </span>
          <label
            type="button"
            class="buttons"
            id="WButton"
            data-toggle="tooltip"
          >
            W
          </label>
          <span
            class="tooltip-text"
            for="WButton"
            l
            style="left: 40%; top: 40%"
          >
            Click on the 'W' button to perform an action.
          </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 containerrightpadding">
          <div class="row g-0 text-end">
            <p class="mb-0">Online Patients</p>
            <p class="numbercountvisitreport">0</p>
          </div>
          <div class="row g-0 text-end">
            <p class="mb-0">Walkin Patients</p>
            <p class="numbercountvisitreport">35399</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-lg-3 col-md-3 col-sm-12 topcontainer"
    style="padding-right: 10px; padding-left: 0px"
  >
    <div class="sub-container1"></div>
  </div>
</div>

<!-- Sub Container 3 -->
<div class="row g-0">
  <!-- Lab Details -->
  <div class="col-lg-6 col-md-6 col-sm-12 topcontainer">
    <div class="sub-container7" style="height: 450px">
      <div class="row g-0 header" style="width: 100%; height: 25px">
        <div class="col-lg-8 col-md-8 col-sm-12 chart-header">
          <p class="labdetailsheading">Lab Details</p>
          <!-- <span><i class="fa-solid fa-circle-info"></i></span> -->
          <span>
            <div class="hover-text" style="margin-top: 0px; margin-left: 0px">
              <i
                class="fa-solid fa-circle-info infolabdetails"
                data-toggle="tooltip"
              ></i>
              <span class="tooltip-text" id="top">
                <div>
                  Click on view details button at the corner to see more details
                  on lab!
                </div>
              </span>
            </div></span
          >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 topcontainer">
          <div class="viewdetails" style="float: right">
            <label for="viewlabdetails" class="viewlabdetails"
              >View Details</label
            >
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-lg-12 col-md-12 col-sm-12 chart-box">
          <div class="chart-size">
            <canvas id="labDetailsChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Radio Details -->
  <div
    class="col-lg-6 col-md-6 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <div class="sub-container7" style="height: 450px">
      <div class="row g-0 header" style="width: 100%; height: 25px">
        <div class="col-lg-7 col-md-7 col-sm-12 chart-header">
          <p class="radiodetailsheading">Radio Details</p>
          <!-- <span><i class="fa-solid fa-circle-info"></i></span> -->
          <span>
            <div class="hover-text" style="margin-top: 0px; margin-left: 0px">
              <i
                class="fa-solid fa-circle-info infolabdetails"
                data-toggle="tooltip"
              ></i>
              <span class="tooltip-text" id="top">
                <div>
                  Click on view details at top right corner to see more
                  information!
                </div>
              </span>
            </div>
          </span>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 topcontainer">
          <div class="viewdetails" style="float: right">
            <label for="viewradiodetails" class="viewlabdetails"
              >View Details</label
            >
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-lg-12 col-md-12 col-sm-12 chart-box">
          <div class="chart-size">
            <canvas id="radioDetailsChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sub Container 5 -->
<div class="row g-0">
  <div
    class="col-lg-12 col-md-12 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <div class="sub-container5" style="height: 610px">
      <app-collectiondetail></app-collectiondetail>
    </div>
  </div>
</div>

<!-- Sub Container 6 -->
<div class="row g-0">
  <div class="col-lg-6 col-md-6 col-sm-12 topcontainer">
    <div class="sub-container4">
      <app-fractionsummary></app-fractionsummary>
    </div>
  </div>
  <div
    class="col-lg-6 col-md-6 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <!-- radiology reports -->
    <div class="sub-container4">
      <app-radiologyreports></app-radiologyreports>
    </div>
  </div>
</div>

<!-- Sub Container 7 -->
<div class="row g-0">
  <div
    class="col-lg-12 col-md-12 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <!-- Lab Reports -->
    <div class="sub-container6">
      <app-labreports></app-labreports>
    </div>
  </div>
</div>

<!-- Sub Container 8 -->
<div class="row g-0">
  <div
    class="col-lg-12 col-md-12 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <div class="sub-container8" style="height: 450px">
      <app-categorywiseincomereport></app-categorywiseincomereport>
    </div>
  </div>
</div>

<!-- Sub Container 9 -->
<div class="row g-0">
  <div
    class="col-lg-12 col-md-12 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <div class="sub-container5" style="height: 680px">
      <app-labtests></app-labtests>
    </div>
  </div>
</div>

<!-- Sub Container 10 -->
<div class="row g-0">
  <div
    class="col-lg-12 col-md-12 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <div class="sub-container5" style="height: 680px">
      <app-radiotests></app-radiotests>
    </div>
  </div>
</div>

<div class="row g-0">
  <div class="col-lg-6 col-md-6 col-sm-12 topcontainer">
    <!-------Age Wise Details------->
    <div class="sub-container9">
      <app-age-wise-details></app-age-wise-details>
    </div>
  </div>
  <div
    class="col-lg-6 col-md-6 col-sm-12 topcontainer"
    style="padding-right: 10px"
  >
    <div class="sub-container9"></div>
  </div>
</div>
<!-- </div> -->

<!-- Footer -->
<!-- <footer class="footer">
  <div class="row g-0">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="footerlicensed">
        <p>Licensed For: Danphe</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="copyright">
        <span><i class="fa-solid fa-copyright"></i></span>
        <p style="margin-left: 5px">2025 Cogenthealth Pvt.Ltd</p>
      </div>
    </div>
  </div>
</footer> -->
