.container {
  margin-left: 0px;
  background-color: #e6f6f6;
  overflow: auto;
  overflow-y: scroll;
  margin-right: 0px;
  width: 100%;
}

.top {
  height: 60px;
  margin-top: 15px;
}

#fiscalYear {
  border-radius: 5px;
  margin-left: 5px;
  border-color: #eeee;
}
.fiscalYearLabel {
  font-size: 20px;
  color: #666;
  font-weight: bold;
}

/* Daily, Weekly, Monthly, Yearly Buttons Style */
.daily-button,
.middle-button,
.yearly-button {
  background-color: white;
  color: #0773bc;
  border-color: #0773bc;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}

.daily-button:hover,
.middle-button:hover,
.yearly-button:hover {
  background-color: #0773bc;
  color: white;
}

.daily-button {
  border-radius: 5px 0 0 5px; /* Rounded corners on the left */
  border-right: none;
}

.middle-button {
  border-radius: 0; /* No rounded corners */
  border-right: none;
}

.yearly-button {
  border-radius: 0 5px 5px 0; /* Rounded corners on the right */
}

.active {
  background-color: #0773bc !important;
  color: white !important;
}

.date {
  font-size: 15px;
  color: #666; /* Text color */
  font-weight: bold;
  margin-right: 5px;
}

.fromtodate {
  border-radius: 5px;
  border-color: #eeee;
  color: #666;
  width: 115px;
}

.sub-container1 {
  margin-top: 10px;
  width: 100%;
  height: 320px;
  background-color: white;
  border: 1px solid #eeee;
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  border-radius: 10px; /* to make border rounded */
}

.sub-container2 {
  /* margin-top: 20px; */
  width: 100%;
  height: 180px;
  background-color: white;
  border: 1px solid #eeee;

  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  border-radius: 10px; /* to make border rounded */
  margin-bottom: 30px;
}

.sub-container3 {
  border: 1px solid #eeee;

  width: 100%;
  height: 170px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px; /* to make border rounded */
}

.sub-container4 {
  border: 1px solid #eeee;

  margin-top: 10px;
  width: 100%;
  height: 600px;
  background-color: white;
  /* border: 1px solid black; */
  padding-top: 20px;
  padding-left: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  border-radius: 10px; /* to make border rounded */
}

.sub-container5 {
  border: 1px solid #eeee;
  margin-top: 10px;
  width: 100%;
  height: 650px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  border-radius: 10px; /* to make border rounded */
}

.sub-container6 {
  margin-top: 10px;
  border: 1px solid #eeee;

  width: 100%;
  height: 250px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  border-radius: 10px; /* to make border rounded */
}

.sub-container7 {
  width: 100%;
  margin-top: -10px;
  height: 500px;
  background-color: white;
  border: 1px solid #eeee;
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  border-radius: 10px; /* to make border rounded */
}

.sub-container8 {
  border: 1px solid #eeee;
  margin-top: 10px;
  width: 100%;
  height: 650px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  border-radius: 10px; /* to make border rounded */
}
.sub-container9 {
  border: 1px solid #eeee;

  margin-top: 10px;
  width: 100%;
  height: 600px;
  background-color: white;
  /* border: 1px solid black; */
  padding-top: 20px;
  padding-left: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  border-radius: 10px; /* to make border rounded */
}

.chart-header {
  display: flex;
}

.chartheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
}

.sampledspan {
  font-size: 18px;
  margin-left: 20px;
  color: forestgreen;
}

.pharmacyspan {
  font-size: 18px;
  margin-left: 20px;
  color: orchid;
}

.viewdetails {
  border: 1px solid #888;
  border-radius: 5px;
  height: 27px;
  justify-content: center;
  width: 120px;
  margin-left: 70px;
}

.visitdetails {
  border: 1px solid #888;
  border-radius: 5px;
  height: 27px;
  justify-content: center;
  width: 120px;
  /* margin-left: 70px; */
  float: right;
}

.labdetailsheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewlabdetails {
  margin-right: 15px;
  color: #777;
  margin-left: 15px;
  font-size: 12px;
  font-weight: bold;
}

.radiodetailsheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewvisitdetails {
  /* border: 1px solid #888; */
  border-radius: 5px;
  height: 28px;
  float: right;
  width: 75%;
}

.viewvisitreports {
  /* margin-right: 5px; */
  color: #777;
  margin-left: 3px;
  font-size: 12px;
  font-weight: bold;
}

.buttons {
  background-color: white;
  margin-bottom: 25px;
  border-radius: 5px;
  margin-left: 5px;
  border-color: white;
  height: 50px;
  width: 50px;
  color: #0773bc;
  font-size: 25px;
  font-weight: bolder;
}

#EButton {
  font-size: 33px;
}

.vertical-buttons {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.pcolorful {
  font-size: 17px;
}

.numbercount {
  font-size: 17px;
  color: #666; /* Text color */
  font-weight: bold;
}

.numbercountvisitreport {
  font-size: 17px;
  color: #666; /* Text color */
  font-weight: bold;
}

.numbercounttop {
  font-size: 17px;
  color: #666; /* Text color */
  font-weight: bold;
}

.numbercounttotal {
  font-size: 35px;
  margin-left: 10px;
  color: #666; /* Text color */
  font-weight: bold;
}
.numbercountinpatient {
  font-weight: bold;
}

.numbercountcolorfulline {
  font-size: 17px;
  color: #666; /* Text color */
  font-weight: bold;
}

.totalpatient {
  display: flex;
  margin-top: 120px;
  margin-left: 20px;
}

.inline {
  display: flex;
  margin-left: 5px;
  font-size: 17px;
}
.inlinetop {
  display: flex;
  margin-left: 5px;
  font-size: 17px;
}

.inlineinpatient {
  display: flex;
  margin-left: 30px;
  font-size: 17px;
  justify-content: flex-end;
  width: 100%;
}

.inlineinpatientleft {
  display: flex;
  font-size: 17px;
  justify-content: flex-start;
  width: 100%;
}

.viewinpatientdetails {
  display: flex;
  width: 75px;
  border: 1px solid #888;
  border-radius: 5px;
  height: 25px;
  justify-content: center;
  padding-top: 3px;
  float: right;
}

.inlinecovid19 {
  display: flex;
  margin-left: 20px;
  font-size: 17px;
  justify-content: flex-end;
  width: 100%;
}

.inlinesampledreport {
  display: flex;
  margin-left: 10px;
  font-size: 17px;
  justify-content: flex-end;
  width: 100%;
}

.inlinepharmacycount {
  display: flex;
  margin-left: 10px;
  font-size: 17px;
  justify-content: flex-end;
  width: 100%;
}

p {
  color: #666;
}

.inline .p {
  margin: 0;
}

.text-end {
  text-align: right;
}

.currentimpatientdetailsheading {
  margin-right: 3px;
  font-size: 14px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewcurrentimpatientdetails {
  margin-right: 1px;
  color: #777;

  font-size: 10px;
  font-weight: bold;
}

.numbercountimpatient {
  font-size: 15px;
  color: #666; /* Text color */
  font-weight: bold;
}

.currentinpatientDetails .p {
  margin: 0;
}

.numbercountdeath {
  font-size: 80px;
  color: #666; /* Text color */
  font-weight: bold;
  margin-left: 55px;
  align-items: top;
}

.totaldeath {
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  color: #666;
  font-size: 17px;
  font-weight: bold;
}

.infototaldeath {
  font-size: 16px;
}

.totaldeathheader {
  display: flex;
  margin-left: 30px;
  flex-direction: row;
}

.verticalcolorfulline {
  height: 62px;
  width: 5px;
  margin: 0;
  padding: 1px 1px 1px 1px;
  /* border-radius: 3px; */
  /* display: block; */
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* padding: 0; */
}

.middleverticalbutton {
  border-radius: 0 0 0 0px;
}

.topverticalbutton {
  border-radius: 5px 5px 0 0px;
}

.buttomverticalbutton {
  border-radius: 0 0 5px 5px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #666;
  /* text-align: center; */
  padding: 10px 0;
  margin-top: 25px;
}

.footerlicensed {
  margin-left: 40px;
  font-weight: bold;
}

.copyright {
  display: flex;
  font-weight: bold;
  float: right;
  margin-right: 50px;
}

.chart-box {
  width: 95%;
  height: 430px;
  background-color: none;
  padding: 20px;
  justify-content: center;
  margin-bottom: 10px;
  /* margin-left: 0px; */
}
.chart-size {
  width: 95%;
  height: 90%;
}

/* For Tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px; /* Increased width for better display */
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px;
  text-align: left; /* Adjusted text alignment */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box-shadow for better visibility */
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 40px;
  font-family: Arial;
  text-align: center;
}

/* For Buttons */
#NPButton:hover + .tooltip-text {
  visibility: visible;
}

#OPButton:hover + .tooltip-text {
  visibility: visible;
}

#FPButton:hover + .tooltip-text {
  visibility: visible;
}
#EButton:hover + .tooltip-text {
  visibility: visible;
}

#WButton:hover + .tooltip-text {
  visibility: visible;
}

.topcontainer {
  padding: 0px;
  padding-left: 10px;
}

.pharmacypatientcounthead {
  padding: 0px;
  padding-left: 15px;
}

.sub2 {
  height: 180px;
}

@media only screen and (max-width: 1468px) and (min-width: 768px) {
  .top {
    height: 50px;
    margin-top: 15px;
  }

  .topcolumn {
    padding-left: 5px;
    padding-right: 0px;
  }

  .topcardsheadercolumn {
    padding-right: 0px;
  }

  #fiscalYear {
    border-radius: 5px;
    margin-left: 3px;
    border-color: #ddd;
    height: 20px;
    width: 52px;
    font-size: 12px;
  }
  .fiscalYearLabel {
    font-size: 13px;
    color: #666;
    font-weight: bold;
  }

  .daily-button,
  .middle-button,
  .yearly-button {
    background-color: #ffff;
    color: #0773bc;
    border-color: #0773bc;
    box-shadow: none;
    transition: background-color 0.3s, color 0.3s;
    height: 25px;
    font-size: 8px;
  }

  .date {
    font-size: 10px;
    color: #666; /* Text color */
    font-weight: bold;
    margin-right: 3px;
  }

  .fromtodate {
    border-radius: 5px;
    border-color: #ddd;
    color: #666;
    width: 65px;
    height: 18px;
    font-size: 9px;
  }

  .fromcolumn {
    padding-left: 20px;
  }
  .chartheading {
    margin-right: 5px;
    font-size: 9px !important;
    color: #666; /* Text color */
    font-weight: bold;
  }
  #info {
    font-size: 11px;
    display: flex;
    margin-top: 2px;
  }
  .info {
    font-size: 12px;
    display: flex;
    margin-top: 2px;
  }
  .chart-header {
    display: flex;
  }

  .sampledspan {
    font-size: 13px;
    margin-left: 12px;
  }

  .pharmacyspan {
    font-size: 13px;
    margin-left: 10px;
  }
  .sub-container2 {
    /* margin-top: 20px; */
    width: 103%;
    height: 154px;
    background-color: white;
    border: 1px solid #eeee;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .sub-container1 {
    width: 103%;
    margin-bottom: 10px;
    padding: 5px;
    height: 280px;
  }

  .sub-container8 {
    height: 300px !important;
    /* padding-right: 0px; */
    margin-top: 5px;
  }

  .infoicon {
    height: 50px;
  }

  #pharmacypatientcountButton {
    height: 30px;
    width: 30px;
    margin-top: 10px;
  }

  #coronaButton {
    height: 30px;
    width: 30px;
  }

  /* .button-icon {
    font-size: 12px;
  } */

  .numbercounttop {
    font-size: 11 px;
    color: #666; /* Text color */
    font-weight: bold;
  }

  .inlinetop {
    display: flex;
    margin-left: 5px;
    font-size: 12px;
  }
  .inlinesampledreport {
    font-size: 12px;
  }
  .inlinepharmacycount {
    font-size: 11px;
    height: 15px;
  }

  .currentimpatientdetailsheading {
    margin-right: 3px;
    font-size: 9px;
    color: #666; /* Text color */
    font-weight: bold;
    margin-left: 3px;
    width: 80%;
  }

  .numbercountdeath {
    font-size: 70px;
    margin-right: 2px;
    margin-top: 3px;
    margin-left: 25%;
  }

  .totaldeath {
    font-size: 10px;
    margin-left: 0px;
    margin-right: 3px;
  }

  .infototaldeath {
    font-size: 12px;
    display: flex;
  }
  .totaldeathheader {
    display: flex;
    /* margin-top: 20px; */
    margin-left: 20px;
  }

  .numbercounttotal {
    font-size: 13px;
    margin-left: 5px;
    color: #666; /* Text color */
    font-weight: bold;
  }
  .totalpatient {
    display: flex;
    margin-top: 120px;
    margin-left: 4px;
  }

  .viewdetails {
    border: 1px solid #888;
    border-radius: 5px;
    height: 27px;
    justify-content: center;
    width: 85px;
    margin-left: 70px;
  }

  .viewlabdetails {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 10px;
  }

  .visitdetails {
    height: 25px;
    width: 80px;
  }

  .visitreport {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .viewvisitreports {
    color: #777;
    margin-left: 2px;
    font-size: 7px;
    font-weight: bold;
    margin-bottom: 10px !important;
  }

  .labdetailsheading {
    font-size: 13px;
    margin-top: 5px;
  }
  .infolabdetails {
    font-size: 13px;
    display: flex;
    margin-top: 10px;
  }

  .radiodetailsheading {
    font-size: 11px;
    margin-top: 7px;
  }

  .ipdetail {
    margin-top: 25px !important;
  }

  .numbercountinpatient {
    color: #666;
    font-weight: bold;
    font-size: 11px;
  }

  .inlineinpatient {
    font-size: 11px;
    margin-top: 8px;
  }

  .inlineinpatientleft {
    font-size: 11px;
  }

  .viewcurrentimpatientdetails {
    margin-right: 2px;
    color: #777;

    font-size: 7px;
    font-weight: bold;
  }

  .viewinpatientdetails {
    display: flex;
    width: 55px;
    border: 1px solid #888;
    border-radius: 5px;
    height: 16px;
    justify-content: center;
    padding-top: 3px;
  }

  .numbercountcolorfulline {
    font-size: 10px;
    color: #666; /* Text color */
    font-weight: bold;
    width: 60%;
  }

  .pcolorful {
    font-size: 10px;
    width: 100%;
  }

  .sub-container5 {
    height: 600px !important;
    margin-top: 5px;
  }

  .sub-container5 {
    margin-top: 5px;
  }

  .sub-container4 {
    height: 500px !important;
    width: 101%;
    margin-top: 5px;
  }

  .header {
    height: 25px !important;
    width: 110% !important;
  }

  .sub-container7 {
    height: 450px !important;
    margin-top: -55px;
    width: 102%;
  }

  .text {
    width: 80%;
  }
  .line {
    width: 120%;
  }

  .sub2 {
    height: 150px !important;
  }

  .columnpatients {
    width: 60%;
    margin-top: 20px;
  }

  .sub-container9 {
    height: 400px;
    margin-top: 5px;
  }

  .daily-button {
    border-radius: 5px 0 0 5px; /* Rounded corners on the left */
    border-right: none;
  }

  .middle-button {
    border-radius: 0; /* No rounded corners */
    border-right: none;
  }

  .iconspan {
    margin-top: -7px;
    width: 20%;
  }
  .deathinfospan {
    margin-top: -3px;
  }
  .arrowicon {
    font-size: 10px;
  }

  .total {
    font-size: 11px;
  }

  .numbercounttop {
    font-size: 11px;
  }

  .verticalcolorfulline {
    height: 50px;
  }

  .buttons {
    margin-bottom: 15px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    font-size: 20px;
  }

  #EButton {
    font-size: 25px;
  }

  .text-end {
    font-size: 12px;
  }

  .containerrightpadding {
    padding-right: 5px;
  }

  .numbercountvisitreport {
    font-size: 14px;
  }

  .viewvisitreoprtcontainer {
    padding-left: 0px;
  }
}
