.radiologyreport-header {
  display: flex;
}

.radiologyreportheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewradiologyreportdetails {
  margin-right: 10px;
  color: #777;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.viewdetails {
  border: 1px solid #888;
  border-radius: 5px;
  height: 27px;
  justify-content: center;
  width: 50%;
  float: right;
  margin-left: 0px;
  display: flex;
  align-items: center;
}

.fractionsummary {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* For Tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px; /* Increased width for better display */
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px;
  text-align: left; /* Adjusted text alignment */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box-shadow for better visibility */
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 40px;
  font-family: Arial;
  text-align: center;
}

.infoicon {
  color: #666;
}

.arrowicon {
  color: #666;
}

@media only screen and (max-width: 1468px) and (min-width: 768px) {
  .radiologyreportheading {
    font-size: 12px;
    margin-top: 3px;
  }

  .infoicon {
    font-size: 12px;
  }

  .arrowicon {
    font-size: 12px;
  }

  .viewdetails {
    width: 80px;
    height: 20px;
  }

  .viewfractionsummarydetails {
    margin-right: 2px;
    color: #777;
    margin-left: 2px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 6px;
  }

  .viewradiologyreportdetails {
    margin-right: 2px;
    margin-left: 2px;
    font-size: 10px;
    font-weight: bold;
  }
  .topcontainer {
    padding-right: 0px;
  }
}
